<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOD BLOG</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>


<body>

    <nav id="mySidebar" class="d-none">
        <a href="#">Close</a>
        <a href="#">Food</a>
        <a href="#">About</a>
    </nav>

    <div class="top">
        <div class="top-content">
            <a type="button" class="p-3 btn">
                <i class="fa fa-bars" style="font-size: 24px;"></i></a>
            <div class="py-3">My Food</div>
            <div class="py-3">Mail</div>
        </div>
    </div>

    <main>
        <!-- FIRST PHOTO GRID -->
        <div class="row">
            <div class="col-md-3">
                <img src="./img/sandwich.jpg" alt="sandwich" style="width: 100%;">
                <h3>The Perfect Sandwich, A Real NYC Classic</h3>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="col-md-3">
                <img src="./img/steak.jpg" alt="steak" style="width: 100%;">
                <h3>Let Me Tell You About This Steak</h3>
                <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
                </p>
            </div>
            <div class="col-md-3">
                <img src="./img/cherries.jpg" alt="cherry" style="width: 100%;">
                <h3>Cherries, interrupted</h3>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.<br>What else?</p>
            </div>
            <div class="col-md-3">
                <img src="./img/wine.jpg" alt="wine" style="width: 100%;">
                <h3>Once Again, Robust Wine and Vegetable Past</h3>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="./img/popsicle.jpg" alt="popsickle" style="width: 100%;">
                <h3>All I Need Is a Popsicle</h3>
                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="col-md-3">
                <img src="./img/salmon.jpg" alt="salmon" style="width: 100%;">
                <h3>Salmon For Your Skin</h3>
                <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.
                </p>
            </div>
            <div class="col-md-3">
                <img src="./img/sandwich.jpg" alt="sandwich" style="width: 100%;">
                <h3>The Perfect Sandwich, A Real Classic</h3>
                <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="col-md-3">
                <img src="./img/croissant.jpg" alt="croissant" style="width: 100%;">
                <h3>Le French</h3>
                <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
        </div>

        <!-- Pagenation -->
        <div class="pagenation">
            <div class="bar">
                <a href="#" type="button"><i class="fas fa-angle-double-left"></i></a>
                <a href="#" type="button" style="background: #000; color: #fff;">1</a>
                <a href="#" type="button">2</a>
                <a href="#" type="button">3</a>
                <a href="#" type="button">4</a>
                <a href="#" type="button"><i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <hr>

        <!-- About -->
        <section id="about">
            <h3>About Me, The Food Man</h3>
            <br>
            <img src="./img/chef.jpg" alt="Me">
            <div style="padding: 32px 0;">
                <h4><b>I am Who I Am!</b></h4>
                <h6><i>With Passion For Real, Good Food</i></h6>
                <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest
                    of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                    fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                    ultricies congue gravida diam non fringilla.
                </p>
            </div>
        </section>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row text-left">
                <div class="col-md-4">
                    <h3>FOOTER</h3>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae,
                        ultricies congue gravida diam non fringilla.</p>
                    <p>Powered by <a class="text-dark" href="https://www.w3schools.com/w3css/default.asp"
                            target="_blank">w3.css</a></p>
                </div>
                <div class="col-md-4">
                    <h3>BLOG POSTS</h3>
                    <ul>
                        <li class="d-flex">
                            <div class="media-head">
                                <img src="./img/gondol.jpg" style="width:50px" class="mr-3">
                            </div>
                            <div class="media-body">
                                <span style="font-size: 18px;">Lorem</span> <br>
                                <span>Sed mattis nunc</span>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="media-head">
                                <img src="./img/gondol.jpg" style="width:50px" class="mr-3">
                            </div>
                            <div class="media-body">
                                <span style="font-size: 18px;">Lorem</span> <br>
                                <span>Sed mattis nunc</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>POPULAR TAGS</h3>
                    <p class="p-tags my-3">
                        <span style="background: #000;">Travel</span> <span>New York</span> <span>Dinner</span>
                        <span>Salmon</span> <span>France</span> <span>Drinks</span>
                        <span>Ideas</span> <span>Flavors</span> <span>Cuisine</span>
                        <span>Chicken</span> <span>Dressing</span> <span>Fried</span>
                        <span>Fish</span> <span>Duck</span>
                    </p>
                </div>
            </div>
        </footer>










    </main>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>