<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY BLOG</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,400&display=swap"
        rel="stylesheet">
</head>


<body>

    <main class="all-content">

        <!-- HEADER -->
        <header>
            <h1><b>MY BLOG</b></h1>
            <p>Welcome to the blog of <span>unknown</span></p>
        </header>

        <!-- CONTENT -->

        <div class="row">
            <div class="col-md-8 p-0">
                <div class="card">
                    <img src="./img/woods.jpg" alt="woods" class="card-img-top w-100">
                    <div class="card-body p-0">
                        <div class="px-3">
                            <h3 class="card-title">TITLE HEADING</h3>
                            <h5 class="card-text">Title description, <span class="text-muted">April 7, 2014</span>
                            </h5>
                        </div>
                        <div class="px-3">
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc
                                id
                                lorem
                                euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at.
                                Phasellus
                                sed
                                ultricies mi non congue ullam corper. Praesent tincidunt sed
                                tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
                                gravida
                                diam non fringilla.
                            </p>
                            <div class="row">
                                <div class="col-8">
                                    <p>
                                        <button type="button" class="btn-card"><b>READ MORE <i
                                                    class="fas fa-angle-double-right"></i></b></button>
                                    </p>
                                </div>
                                <div class="col-4 text-right d-block mt-auto">
                                    <p>
                                        <span style="padding: 12px 24px;">
                                            <b>Comment &nbsp;<span class="px-2"
                                                    style="background: #000; color: #fff;">0</span></b>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <img src="./img/bridge.jpg" alt="bridge" class="card-img-top w-100">
                    <div class="card-body p-0">
                        <div class="px-3">
                            <h3 class="card-title">BLOG ENTRY</h3>
                            <h5 class="card-text">Title description, <span class="text-muted">April 7, 2014</span>
                            </h5>
                        </div>
                        <div class="px-3">
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc
                                id
                                lorem
                                euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at.
                                Phasellus
                                sed
                                ultricies mi non congue ullam corper. Praesent tincidunt sed
                                tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue
                                gravida
                                diam non fringilla.
                            </p>
                            <div class="row">
                                <div class="col-8">
                                    <p>
                                        <button type="button" class="btn-card"><b>READ MORE <i
                                                    class="fas fa-angle-double-right"></i></b></button>
                                    </p>
                                </div>
                                <div class="col-4 text-right d-block mt-auto">
                                    <p>
                                        <span style="padding: 12px 24px;">
                                            <b>Comment &nbsp;<span class="px-2"
                                                    style="background: #000; color: #fff; border-radius: 50%;">2</span></b>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Introduction menu -->
            <div class="col-md-3 p-0">
                <div class="card">
                    <img src="./img/avatar_g.jpg" alt="zavatar" class="card-img-top w-100">
                    <div class="card-body p-0 px-3">
                        <h4 class="card-title">My Name</h4>
                        <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a
                            interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Posts -->
                <div class="card">
                    <div class="card-header">
                        <h4>Popular Posts</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="p-3 d-flex border-bottom list-group-item">
                                <div class="media-head">
                                    <img class="mr-3" src="./img/workshop.jpg" alt="wrksp" style="width: 50px;">
                                </div>
                                <div class="media-body">
                                    <span style="font-size: 18px;">Lorem</span>
                                    <br>
                                    <span>Sed mattis nunc</span>
                                </div>
                            </li>
                            <li class="p-3 d-flex border-bottom list-group-item">
                                <div class="media-head">
                                    <img class="mr-3" src="./img/workshop.jpg" alt="wrksp" style="width: 50px;">
                                </div>
                                <div class="media-body">
                                    <span style="font-size: 18px;">Lorem</span>
                                    <br>
                                    <span>Sed mattis nunc</span>
                                </div>
                            </li>
                            <li class="p-3 d-flex border-bottom list-group-item">
                                <div class="media-head">
                                    <img class="mr-3" src="./img/workshop.jpg" alt="wrksp" style="width: 50px;">
                                </div>
                                <div class="media-body">
                                    <span style="font-size: 18px;">Lorem</span>
                                    <br>
                                    <span>Sed mattis nunc</span>
                                </div>
                            </li>
                            <li class="p-3 d-flex border-bottom list-group-item">
                                <div class="media-head">
                                    <img class="mr-3" src="./img/workshop.jpg" alt="wrksp" style="width: 50px;">
                                </div>
                                <div class="media-body">
                                    <span style="font-size: 18px;">Lorem</span>
                                    <br>
                                    <span>Sed mattis nunc</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Tags</h4>
                    </div>
                    <div class="card-body">
                        <p class="tags">
                            <span style="color: #fff; background: #000;">Travel</span> <span>New York</span> <span>London</span>
                            <span>IKEA</span> <span>NORWAY</span> <span>DIY</span> <span>Ideas</span> <span>Baby</span>
                            <span>Family</span> <span>News</span> <span>Clothing</span> <span>Shopping</span>
                            <span>Sport</span> <span>Games</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <button class="disabled" type="button" style="opacity: 0.3; cursor: not-allowed;">Previous</button>
        <button type="button">Next <i class="fas fa-angle-double-right"></i></button>
        <p>Powered by <a class="text-white " href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>