<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architects</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- NAV -->
    <nav>
        <div class="links clearfix">
            <a href="#home"><b>BR</b> Architects</a>
            <div class="nav-right">
                <a href="#projects">Projects</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </nav>
    <!-- HEADER -->
    <header>
        <img src="./img/architects-bg.jpg" alt="bg">
        <div class="header-top">
            <h1>
                <span class="span1"><b>BR</b></span>
                <span class="span2">Architects</span>
            </h1>
        </div>
    </header>
    <main>
        <!-- Project -->
            <div class="project-head">
                <h3>Project</h3>
            </div>
            <div class=".box clearfix">
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class=".box clearfix">
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
                <div class="box-container">
                    <div class="box-content">
                        <div class="box-title">Summer House</div>
                        <img src="./img/house3.jpg" alt="house" style="width: 100%;">
                    </div>
                </div>
            </div>
        <!-- ABOUT -->
            <div id="about">
                <h3 class=".h3-head">About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim
                    ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="about-architects clearfix">
                <div class="architects-container">
                    <img src="./img/john.jpg" alt="john">
                    <h3>John Doe</h3>
                    <p>CEO &amp; Founder</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>

                <div class="architects-container">
                    <img src="./img/jane.jpg" alt="jane">
                    <h3>Jane Doe</h3>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>

                <div class="architects-container">
                    <img src="./img/mike.jpg" alt="mike">
                    <h3>Mike Ross</h3>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>

                <div class="architects-container">
                    <img src="./img/dane.jpg" alt="john">
                    <h3>Dan Star</h3>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <button style="width: 100%;">Contact</button>
                </div>
            </div>
        <!-- CONTACT -->
        <div id="contact">
            <h3 class="h3-head">Contact</h3>
            <p>Lets get in touch and talk about your next project.</p>
            <form action="#">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Subject" required>
                <input type="text" placeholder="Message" required>
            </form>
            <button class="upper sumbit" type="submit">Send Message</button>
        </div>
        <!-- LOCATION -->
        <div id="location">
            <img src="./img/map.jpg" alt="map" style="width: 100%;">
        </div>
    </main>
    <footer>
        <p>
            Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank">w3.css</a>
        </p>
    </footer>
</body>

</html>